@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Fotty</h1>
    <h5>Be where your club is! &#9917</h5>
    <div class="row">
        <div class="col-sm-4">
            <h3>Favourite club</h3>
            <p>@ViewData["team"]</p>
        </div>
        <div class="col-sm-4">
            <h3>Last 5 games</h3>
        </div>
        <div class="col-sm-4">
            <h3>Top 5 goalscorers</h3>
        </div>
    </div>
</div>
